/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-blurb {
  font-family: 'nobilemedium_italic', sans-serif;
  text-align:right;
  font-size: 10px;
  padding-top: 20px;
}
